@import "~antd/dist/antd.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 612px;
  line-height: 612px;

  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: rgb(40, 252, 13);
}
.ant-page-header-heading-title {
  float: none !important;
}
